DATABASE_HOST=localhost
DATABASE_NAME=eduliv_pg
DATABASE_PORT=5432
DATABASE_USER=admin
DATABASE_PWD=lkjasd9182304f9c56b53c6db9c9275
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PWD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

JWT_SECRET=your-super-secret-jwt-key-here
JWT_EXPIRES_IN=24

BCRYPT_COST=12
TOKEN_COOKIE_NAME=_edu_token

# Seed Configuration
SEED_USER_EMAIL=admin@eduliv.com
SEED_USER_FULL_NAME=Administrador EduLIV
SEED_USER_PASSWORD=admin123456